body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body, html {
    background: $color-primary;
}

img.lazy {
	filter: blur(4px);
	transition: filter 0.3s ease;
}

img.lazy-loaded {
	filter: blur(0);
}

a {
    text-decoration: none !important;
}