@mixin subheading-s6-regular {
  font-size: 15px;
  line-height: 118%;
  font-weight: 400;
  letter-spacing: 0.64px;
  color: $color-font-base;
}
@mixin subheading-s6-medium {
  font-size: 15px;
  line-height: 118%;
  font-weight: 500;
  letter-spacing: 0.64px;
  color: $color-font-base;
}

@mixin section-subtitle {
    font-size: 23px;
    line-height: 118%;
    letter-spacing: 3.45px;
    font-weight: 600;
    color: #DDCCF8;
    margin-bottom: 50px;
}

@mixin section-title {
    font-size: 57px;
    font-weight: 600;
    line-height: 118%;
    color: $color-font-base;
}

@mixin section-description {
    font-size: 18px;
    line-height: 153%;
    color: $color-font-base;
    max-width: 348px;
    color: #D8D8D8;
}
@mixin btn-primary {
    padding: 16px 14px !important;
    border-radius: 10px;
    border: none;
    background: linear-gradient(100.47deg, rgb(142, 84, 233) 10.323%,rgb(71, 118, 230) 101.625%);
    box-shadow: 0px 0px 13px 0px rgba(115, 112, 142, 0.37);
    @include subheading-s6-medium;
    line-height: 1;
    transition: transform .3s ease;
    z-index: 10;
}

@mixin btn-secondary {
    padding: 16px 14px !important;
    border-radius: 10px;
    background: $color-secondary-s700;
    color: $color-accent;
    border: 1px solid rgb(115, 68, 190);
    box-shadow: 0px 0px 13px 0px rgba(115, 112, 142, 0.13);
    z-index: 10;
}