.team-section {
    padding-block-end: 120px;
    .blur-decor-top,
    .blur-decor-bottom {
        width: 572px;
        height: 572px;
        filter: blur(250px);
        background: rgb(65, 57, 129);
        opacity: 0.74;
        z-index: 0;
    }
    .blur-decor-bottom {
        width: 439px;
        height: 439px;
    }
    .team-section-content {
        margin-block-end: 117px;
    }
    .team-subtitle {
        @include section-subtitle;
    }
    .team-title {
        @include section-title;
    }
    .slider-arrows {
        gap: 60px;
        position: relative;
        top: -20px;

        .btn {
            width: 41px;
            height: 41px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #12111D;
            border: solid 1px #8E54E9;
            cursor: pointer;
        }
    }
    .team-swiper {
        .card {
            background: transparent;
            h3 {
                font-size: 19px;
                font-weight: 600;
                line-height: 118%;
                letter-spacing: 0.76px;
                color: $color-font-base;
            }
            p {
                font-size: 15px;
                line-height: 153%;
                color: #D8D8D8;
            }
        }
        .card-odd,
        .card-even {
            img {
                width: 100%;
                object-fit: cover;
                display: block;
                margin-bottom: 30px;
                border-radius: 10px;
                overflow: hidden;
            }
        }
        .card-odd {
            img {
                height: 357px;
            }
        }
    }
}