.testimonials-section {
    padding: 90px 0 162px;
    .testimonials-header {
        margin-block-end: 117px;
    }
    .testimonials-subtitle {
        @include section-subtitle;
    }
    .testimonials-title {
        @include section-title;
    }
    .testimonials-description {
        @include section-description;
    }
    .btn {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #12111D;
        border: solid 1px #8E54E9;
        cursor: pointer;
    }
    .swiper-slide {
        width: 505px !important;
    }
        
    .card {
        padding-block: 50px;
        padding-inline: 30px 46px;
    }
}